/***********/
/* Code voor de sections*/
/***********/
section {
	padding: var(--spacing-large);
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: start;
}

section h3 {
	margin-top: var(--spacing-small);
}

/***********/
/* Code voor de hero section*/
/***********/
section.hero {
	padding: 10rem 0 0;
	display: block;
}

section.hero span {
	display: flex;
	align-items: center;
}

section.hero .cube {
	height: 20rem;
}

section.hero .cube:nth-child(1) p,
section.hero .cube:nth-child(3) p {
	justify-content: flex-end;
}

section.hero .cube:nth-child(3) .top {
	display: flex;
	align-items: center;
}

section.hero .cube:nth-child(3) .top p {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section.hero .cube__container .front {
	width: 50rem;
	display: flex;
}

section.hero .cube__container .cube .front p {
	padding-right: 3.2rem;
	justify-content: flex-start;
	animation: move 5s linear infinite;
}

section.hero .cube__container .cube .top {
	display: flex;
	justify-content: flex-start;
}

section.hero .cube:nth-child(3) .face {
	background: var(--color-blue);
}

section.hero .cube:nth-child(4) .face {
	background: var(--color-green);
}

section.hero>p {
	padding: 4rem 0 8rem;
	text-align: center;
	font-size: var(--body-text-medium);
	font-weight: var(--font-weight-bold);
	background: var(--color-green);
}



/***********/
/* Code voor de service section*/
/***********/
section.section__service {
	min-height: 80rem;
	position: relative;
}

section.section__service h4 {
	max-width: 36rem;
}



/***********/
/* Code voor het grid systeem*/
/***********/
div.grid__2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 var(--spacing-large);
}

div.grid__2 h3,
div.grid__2 h4,
div.grid__2 h5 {
	margin-bottom: 6.4rem;
	grid-column: span 2;
}

div.grid__2 p {
	margin-bottom: var(--spacing-large);
	grid-column: span 1;
}